@media screen and (max-width: 800px) {


    :root {
        --clr_bg: #15151f;
        --clr_font: #dcdcdc;
        --clr_font_light: #b5b5b5;
        --clr_font_accent: #9850FF;
        --spacer__1: 4.5rem;
        --clicked_top: 100px;
        --clicked_left: 100px;
        --clicked_height: 100px;
        --clicked_width: 100px;
        --hidden: 'none';

    }

    html,
    body {

        background: var(--clr_bg);
        color: var(--clr_font);
        font-family: "Mabry";
        font-size: 7.5px;
        font-weight: 400;
        overflow-x: hidden;
        list-style: none;


    }


    .projet__presentation__titles {
        flex-direction: column;
    }



    .projet__titles {
        width: 100%;
        text-align: center !important;
    }

    .projet__about__images {

        flex-direction: column;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;



    }


    .projet__about__images img {


        width: 100%;
        margin-bottom: var(--spacer__1);



    }

    .about__infos {
        display: flex;
        flex-direction: column;
        height: 45vh;

    }


    .about__infos h3,
    .about__infos p {
        width: 100%;

    }

    .about__infos h3 {
        margin-top: var(--spacer__1);
        font-size: 30px;
    }

    .ebcf_modal-content {

        height: 50vh;
    }


    .about__infos p {
        margin-bottom: var(--spacer__1);
        color: var(--clr_font_light);
    }

    .modal__buttons {
        height: 30%;
    }

    .modal__content {
        width: 90%;
        height: 70%;

    }



    .media-scroller {
        padding-right: 5rem;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center


    }

    .card_blog {
        scroll-snap-align: start;
        width: 65vw;
        display: flex;
        flex-direction: column;
        border: none;
        overflow: hidden;
        height: 45%;
        margin-right: 3rem;

    }

}